body{
  background-color: 	#000000;
 
}

.App{
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.calculator-card{
  width: 20rem;
  background-color: #a2bbcf;
}
.row{display: flex;}